<div class="container-fluid">
  <div class="row">
     <h4>You order details are</h4>
     <p><strong>Product: </strong><%= @order.product.name %></p>
     <p><strong>Payed price:</strong> <%= @order.total %> &euro;</p>
  </div>
</div>